# 과제

___
과제 1. Wikipedia에서 테이블을 가진 페이지에서 DF추출해보기.(어떤 페이지든 좋습니다. DF형태가 된다면.)
___

In [76]:
df_kia = pd.read_html('https://url.kr/fgnr58')
#https://ko.wikipedia.org/wiki/KIA_타이거즈 인 링크로 하면 계속 에러가 나와서 단축 url을 사용하여 진행했다.
df_kia[7][:-1]

,연도,팀명,최종순위,승,무,패,승률,포스트 시즌,수상 선수,감독
0,1982,해태,4위,38,0,42,0.475,NaN,NaN,김동엽조창수(감독대행)
1,1983,해태,1위,55,1,44,0.556,* 한국시리즈 : MBC 전 4-0 승,NaN,김응용
2,1984,해태,5위,43,3,54,0.443,NaN,NaN,김응용
3,1985,해태,3위,57,1,52,0.523,NaN,이순철 (신) 김성한 (최),김응용
4,1986,해태,1위,67,4,37,0.644,* 한국시리즈 : 삼성 전 4-1 승,선동열 (최),김응용
5,1987,해태,1위,55,5,48,0.532,* 한국시리즈 : 삼성 전 4-0 승,NaN,김응용
6,1988,해태,1위,68,2,38,0.639,* 한국시리즈 : 빙그레 전 4-2 승,김성한 (최),김응용
7,1989,해태,1위,65,4,51,0.558,* 한국시리즈 : 빙그레 전 4-1 승,선동열 (최),김응용
8,1990,해태,3위,68,3,49,0.579,플레이오프 : 삼성 전 0-3 패,선동열 (최),김응용
9,1991,해태,1위,79,5,42,0.647,* 한국시리즈 : 빙그레 전 4-0 승,NaN,김응용
10,1992,해태,3위,71,1,54,0.567,플레이오프 : 롯데 전 2-3 패,NaN,김응용
11,1993,해태,1위,81,3,42,0.655,* 한국시리즈 : 삼성 전 4-2 승,NaN,김응용
12,1994,해태,4위,65,2,59,0.524,플레이오프 : 한화 전 0-3 패,이종범 (최),김응용
13,1995,해태,4위,64,4,58,0.524,NaN,NaN,김응용
14,1996,해태,1위,73,2,51,0.587,* 한국시리즈 : 현대 전 4-2 승,NaN,김응용
15,1997,해태,1위,75,1,50,0.599,* 한국시리즈 : LG 전 4-1 승,NaN,김응용
16,1998,해태,5위,61,1,64,0.488,NaN,NaN,김응용
17,1999,해태,드림리그4위(전체7위),60,3,69,0.465,NaN,NaN,김응용
18,2000,해태,드림리그4위(전체6위),57,4,72,0.442,NaN,NaN,김응용
19,2001,KIA,5위,60,5,68,0.469,NaN,NaN,김성한
20,2002,KIA,3위,78,4,51,0.605,플레이오프 : LG 전 2-3 패,NaN,김성한
21,2003,KIA,3위,78,5,50,0.609,플레이오프 : SK 전 0-3 패,NaN,김성한
22,2004,KIA,4위,67,5,61,0.523,준플레이오프 : 두산 전 0-2 패,NaN,김성한
23,2005,KIA,8위,49,1,76,0.392,NaN,NaN,유남호
24,2006,KIA,4위,64,3,59,0.520,준플레이오프 : 한화 전 1-2 패,NaN,서정환
25,2007,KIA,8위,51,1,74,0.408,NaN,NaN,서정환
26,2008,KIA,6위,57,0,69,0.452,NaN,NaN,조범현
27,2009,KIA,1위,81,4,48,0.609,* 한국시리즈 : SK 전 4-3 승,김상현 (최),조범현
28,2010,KIA,5위,59,0,74,0.444,NaN,NaN,조범현
29,2011,KIA,4위,70,0,63,0.526,준플레이오프 : SK 전 1-3 패,윤석민 (최),조범현
30,2012,KIA,5위,62,6,65,0.488,NaN,NaN,선동열
31,2013,KIA,8위,51,3,74,0.408,NaN,NaN,선동열
32,2014,KIA,8위,54,0,74,0.422,NaN,NaN,선동열
33,2015,KIA,7위,67,0,77,0.465,NaN,NaN,김기태
34,2016,KIA,5위,70,1,73,0.490,와일드카드 : LG 전 1-1 패,NaN,김기태
35,2017,KIA,1위,87,1,56,0.608,* 한국시리즈 : 두산 전 4-1 승,NaN,김기태
36,2018,KIA,5위,70,0,74,0.486,와일드카드 : 넥센 전 0-1 패,NaN,김기태
37,2019,KIA,7위,62,2,80,0.437,NaN,NaN,김기태박흥식(감독대행)
38,2020,KIA,6위,73,0,71,0.507,NaN,NaN,맷 윌리엄스
39,2021,KIA,9위,58,10,76,0.433,NaN,NaN,맷 윌리엄스

___
과제 2. movies.csv 파일이 메모리에서 차지하는 용량을 줄이려고 합니다. 어떤 방법들이 있고, 시행했을 때 얼마나 메모리가 줄어들까요?
___

In [3]:
movies = pd.read_csv("data/movie.csv")
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [4]:
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4867.0,1.379889e+02,1.202394e+02,1.00,49.00,108.00,191.00,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4814.0,6.910145e+02,2.832954e+03,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_facebook_likes,4893.0,6.312763e+02,1.625875e+03,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_facebook_likes,4909.0,6.494488e+03,1.510699e+04,0.00,607.00,982.00,11000.00,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,8361.75,33132.50,93772.75,1.689764e+06
cast_total_facebook_likes,4916.0,9.579816e+03,1.816432e+04,0.00,1394.75,3049.00,13616.75,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,4895.0,2.676688e+02,3.729348e+02,1.00,64.00,153.00,320.50,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,4903.0,1.621924e+03,4.011300e+03,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,159.00,2000.00,3.490000e+05

In [5]:
movies1 = pd.read_csv('data/movie.csv',
                       dtype = {
                           'num_critic_for_reviews':np.float16,
                           'duration':np.float16,
                           'director_facebook_likes':np.float16,
                           'actor_3_facebook_likes':np.float16,
                           'actor_1_facebook_likes':np.float32,
                           'gross':np.float32,
                           'facenumber_in_poster':np.float16,
                           'num_user_for_reviews':np.float16,
                           'budget':np.float32,
                           'title_year':np.float32,
                           'actor_2_facebook_likes':np.float32,
                           'imdb_score':np.float16,
                           'aspect_ratio':np.float16,
                           'num_voted_users':np.int16,
                           'movie_facebook_likes': np.int32,
                           'cast_total_facebook_likes': np.int32
                       })
movies1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float16
 3   duration                   4901 non-null   float16
 4   director_facebook_likes    4814 non-null   float16
 5   actor_3_facebook_likes     4893 non-null   float16
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int16
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float16
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float16
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float32
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float16
 26  aspect_ratio               4590 non-null   float16
 27  movie_facebook_likes       4916 non-null   int32
dtypes: float16(8), float32(5), int16(1), int32(2), object(12)
memory usage: 681.8+ KB

In [6]:
movies.describe(include='O') #category 형태로 변형시킬 수 있는 column이 무엇인지 확인해보자. color, language, country, content_rating이 적당해보인다.

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,4897,4814,4903,4916,4909,4916,4893,4764,4916,4904,4911,4616
unique,2,2397,3030,914,2095,4916,3519,4756,4916,47,65,18
top,Color,Steven Spielberg,Morgan Freeman,Drama,Robert De Niro,Avatar,Steve Coogan,based on novel,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,R
freq,4693,26,18,233,48,1,8,4,1,4582,3710,2067

In [7]:
movies2 = pd.read_csv('data/movie.csv',
                       dtype = {
                           'num_critic_for_reviews':np.float16,
                           'duration':np.float16,
                           'director_facebook_likes':np.float16,
                           'actor_3_facebook_likes':np.float16,
                           'actor_1_facebook_likes':np.float32,
                           'gross':np.float32,
                           'facenumber_in_poster':np.float16,
                           'num_user_for_reviews':np.float16,
                           'budget':np.float32,
                           'title_year':np.float32,
                           'actor_2_facebook_likes':np.float32,
                           'imdb_score':np.float16,
                           'aspect_ratio':np.float16,
                           'num_voted_users':np.int16,
                           'movie_facebook_likes': np.int32,
                           'cast_total_facebook_likes': np.int32,
                           'color': 'category',
                           'language': 'category',
                           'country': 'category',
                           'content_rating':'category'
                       })
movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   category
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float16
 3   duration                   4901 non-null   float16
 4   director_facebook_likes    4814 non-null   float16
 5   actor_3_facebook_likes     4893 non-null   float16
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int16
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float16
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float16
 19  language                   4904 non-null   category
 20  country                    4911 non-null   category
 21  content_rating             4616 non-null   category
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float32
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float16
 26  aspect_ratio               4590 non-null   float16
 27  movie_facebook_likes       4916 non-null   int32
dtypes: category(4), float16(8), float32(5), int16(1), int32(2), object(8)
memory usage: 552.2+ KB

In [8]:
facebook_likes = movies.filter(like='facebook_likes').sum(axis=1)/6
facebook_likes_list = list(facebook_likes)

In [9]:
movies2 = movies2.assign(facebook_likes = facebook_likes_list)

In [11]:
movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   category
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float16
 3   duration                   4901 non-null   float16
 4   director_facebook_likes    4814 non-null   float16
 5   actor_3_facebook_likes     4893 non-null   float16
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int16
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float16
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float16
 19  language                   4904 non-null   category
 20  country                    4911 non-null   category
 21  content_rating             4616 non-null   category
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float32
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float16
 26  aspect_ratio               4590 non-null   float16
 27  movie_facebook_likes       4916 non-null   int32
 28  facebook_likes             4916 non-null   float64
dtypes: category(4), float16(8), float32(5), float64(1), int16(1), int32(2), object(8)
memory usage: 590.6+ KB

----
column 이름을 보면 facebook_likes가 속해있는 열들이 많다.

하나의 평균값으로 표현함으로써 column의 개수를 줄여보자.

____

In [15]:
list(movies.filter(like='facebook_likes').columns)

['director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_1_facebook_likes',
 'cast_total_facebook_likes',
 'actor_2_facebook_likes',
 'movie_facebook_likes']

In [13]:
movies2.drop(list(movies.filter(like='facebook_likes').columns),axis=1,inplace=True)

In [14]:
movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   4897 non-null   category
 1   director_name           4814 non-null   object
 2   num_critic_for_reviews  4867 non-null   float16
 3   duration                4901 non-null   float16
 4   actor_2_name            4903 non-null   object
 5   gross                   4054 non-null   float32
 6   genres                  4916 non-null   object
 7   actor_1_name            4909 non-null   object
 8   movie_title             4916 non-null   object
 9   num_voted_users         4916 non-null   int16
 10  actor_3_name            4893 non-null   object
 11  facenumber_in_poster    4903 non-null   float16
 12  plot_keywords           4764 non-null   object
 13  movie_imdb_link         4916 non-null   object
 14  num_user_for_reviews    4895 non-null   float16
 15  language                4904 non-null   category
 16  country                 4911 non-null   category
 17  content_rating          4616 non-null   category
 18  budget                  4432 non-null   float32
 19  title_year              4810 non-null   float32
 20  imdb_score              4916 non-null   float16
 21  aspect_ratio            4590 non-null   float16
 22  facebook_likes          4916 non-null   float64
dtypes: category(4), float16(6), float32(3), float64(1), int16(1), object(8)
memory usage: 494.6+ KB

In [22]:
movies2 = movies2.astype({'facebook_likes':'float32'})

In [23]:
movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   4897 non-null   category
 1   director_name           4814 non-null   object
 2   num_critic_for_reviews  4867 non-null   float16
 3   duration                4901 non-null   float16
 4   actor_2_name            4903 non-null   object
 5   gross                   4054 non-null   float32
 6   genres                  4916 non-null   object
 7   actor_1_name            4909 non-null   object
 8   movie_title             4916 non-null   object
 9   num_voted_users         4916 non-null   int16
 10  actor_3_name            4893 non-null   object
 11  facenumber_in_poster    4903 non-null   float16
 12  plot_keywords           4764 non-null   object
 13  movie_imdb_link         4916 non-null   object
 14  num_user_for_reviews    4895 non-null   float16
 15  language                4904 non-null   category
 16  country                 4911 non-null   category
 17  content_rating          4616 non-null   category
 18  budget                  4432 non-null   float32
 19  title_year              4810 non-null   float32
 20  imdb_score              4916 non-null   float16
 21  aspect_ratio            4590 non-null   float16
 22  facebook_likes          4916 non-null   float32
dtypes: category(4), float16(6), float32(4), int16(1), object(8)
memory usage: 475.4+ KB

In [24]:
movies2.to_csv('movies2.csv')

In [36]:
new_movies = pd.read_csv('movies2.csv',
                         dtype={
                           'num_critic_for_reviews':np.float16,
                           'duration':np.float16,
                           'gross':np.float32,
                           'facenumber_in_poster':np.float16,
                           'num_user_for_reviews':np.float16,
                           'budget':np.float32,
                           'title_year':np.float32,
                           'imdb_score':np.float16,
                           'aspect_ratio':np.float16,
                           'num_voted_users':np.int16,
                           'color': 'category',
                           'language': 'category',
                           'country': 'category',
                           'content_rating':'category',
                           'faceboook_likes': np.float32
                         },index_col=0,
                           chunksize = 301)

def process(df):
    return f'processed {df.shape} shape of df {df.iloc[0,:]}'

for chunk in new_movies:
    print(process(chunk),"\n")

processed (301, 23) shape of df color                                                                 Color
director_name                                                 James Cameron
num_critic_for_reviews                                                723.0
duration                                                              178.0
actor_2_name                                               Joel David Moore
gross                                                           760505856.0
genres                                      Action|Adventure|Fantasy|Sci-Fi
actor_1_name                                                    CCH Pounder
movie_title                                                          Avatar
num_voted_users                                                      -31300
actor_3_name                                                      Wes Studi
facenumber_in_poster                                                    0.0
plot_keywords                        avatar|future|marine|native|paraplegic
movie_imdb_link           http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                 3054.0
language                                                            English
country                                                                 USA
content_rating                                                        PG-13
budget                                                          237000000.0
title_year                                                           2009.0
imdb_score                                                         7.898438
aspect_ratio                                                       1.780273
facebook_likes                                                    6770.8335
Name: 0, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                              Florian Henckel von Donnersmarck
num_critic_for_reviews                                                321.0
duration                                                              103.0
actor_2_name                                            Angelina Jolie Pitt
gross                                                            67631160.0
genres                                              Action|Romance|Thriller
actor_1_name                                                    Johnny Depp
movie_title                                                     The Tourist
num_voted_users                                                      -20010
actor_3_name                                                   Rufus Sewell
facenumber_in_poster                                                    0.0
plot_keywords             police surveillance|surveillance van|tailing a...
movie_imdb_link           http://www.imdb.com/title/tt1243957/?ref_=fn_t...
num_user_for_reviews                                                  374.0
language                                                            English
country                                                                 USA
content_rating                                                        PG-13
budget                                                          100000000.0
title_year                                                           2010.0
imdb_score                                                              6.0
aspect_ratio                                                       2.349609
facebook_likes                                                      22397.0
Name: 301, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                                  Edward Zwick
num_critic_for_reviews                                                120.0
duration                                                              116.0
actor_2_name                                                   Bruce Willis
gross                                                            40932372.0
genres                                                      Action|Thriller
actor_1_name                                              Denzel Washington
movie_title                                                       The Siege
num_voted_users                                                       -7513
actor_3_name                                                    Mark Valley
facenumber_in_poster                                                    0.0
plot_keywords             abduction|martial law|military|new york city|t...
movie_imdb_link           http://www.imdb.com/title/tt0133952/?ref_=fn_t...
num_user_for_reviews                                                  281.0
language                                                            English
country                                                                 USA
content_rating                                                            R
budget                                                           70000000.0
title_year                                                           1998.0
imdb_score                                                         6.300781
aspect_ratio                                                       2.349609
facebook_likes                                                    10786.167
Name: 602, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                               Kathryn Bigelow
num_critic_for_reviews                                                558.0
duration                                                              157.0
actor_2_name                                               Harold Perrineau
gross                                                            95720720.0
genres                                               Drama|History|Thriller
actor_1_name                                                  Jennifer Ehle
movie_title                                                Zero Dark Thirty
num_voted_users                                                       19424
actor_3_name                                                 Parker Sawyers
facenumber_in_poster                                                    0.0
plot_keywords                      al qaeda|cia|interrogation|lie|navy seal
movie_imdb_link           http://www.imdb.com/title/tt1790885/?ref_=fn_t...
num_user_for_reviews                                                  640.0
language                                                            English
country                                                                 USA
content_rating                                                            R
budget                                                           40000000.0
title_year                                                           2012.0
imdb_score                                                         7.398438
aspect_ratio                                                       1.849609
facebook_likes                                                    7343.8335
Name: 903, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                                   Pete Travis
num_critic_for_reviews                                                235.0
duration                                                               90.0
actor_2_name                                                  Edgar Ramírez
gross                                                            72266304.0
genres                                         Crime|Drama|Mystery|Thriller
actor_1_name                                                   Dennis Quaid
movie_title                                                   Vantage Point
num_voted_users                                                       -3544
actor_3_name                                                   William Hurt
facenumber_in_poster                                                    4.0
plot_keywords             explosion|multiple perspectives|president|secr...
movie_imdb_link           http://www.imdb.com/title/tt0443274/?ref_=fn_t...
num_user_for_reviews                                                  422.0
language                                                            English
country                                                                 USA
content_rating                                                        PG-13
budget                                                           40000000.0
title_year                                                           2008.0
imdb_score                                                         6.601562
aspect_ratio                                                       2.349609
facebook_likes                                                    1765.3334
Name: 1204, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                                   Hugh Hudson
num_critic_for_reviews                                                 52.0
duration                                                              114.0
actor_2_name                                                Eva Marie Saint
gross                                                             6543194.0
genres                                              Adventure|Drama|Romance
actor_1_name                                                     Liam Aiken
movie_title                                             I Dreamed of Africa
num_voted_users                                                        3740
actor_3_name                                                  Vincent Perez
facenumber_in_poster                                                    1.0
plot_keywords                               dream|italian|kenya|ranch|snake
movie_imdb_link           http://www.imdb.com/title/tt0167203/?ref_=fn_t...
num_user_for_reviews                                                   61.0
language                                                            English
country                                                                 USA
content_rating                                                        PG-13
budget                                                           34000000.0
title_year                                                           2000.0
imdb_score                                                         5.601562
aspect_ratio                                                       2.349609
facebook_likes                                                        649.5
Name: 1505, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                                  Menno Meyjes
num_critic_for_reviews                                                118.0
duration                                                              106.0
actor_2_name                                                 Richard Schiff
gross                                                             7486906.0
genres                                                  Comedy|Drama|Family
actor_1_name                                                   Oliver Platt
movie_title                                                   Martian Child
num_voted_users                                                       17436
actor_3_name                                                 Sophie Okonedo
facenumber_in_poster                                                    0.0
plot_keywords              adopted son|adoption|boy|mars the planet|widower
movie_imdb_link           http://www.imdb.com/title/tt0415965/?ref_=fn_t...
num_user_for_reviews                                                   71.0
language                                                            English
country                                                                 USA
content_rating                                                           PG
budget                                                           27000000.0
title_year                                                           2007.0
imdb_score                                                         6.800781
aspect_ratio                                                       1.849609
facebook_likes                                                     750.6667
Name: 1806, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                                   Woody Allen
num_critic_for_reviews                                                275.0
duration                                                              112.0
actor_2_name                                                     Judy Davis
gross                                                            16684352.0
genres                                                       Comedy|Romance
actor_1_name                                                   Ornella Muti
movie_title                                               To Rome with Love
num_voted_users                                                        2357
actor_3_name                                         Alessandra Mastronardi
facenumber_in_poster                                                    0.0
plot_keywords                 architect|celebrity|prostitute|shower|tourist
movie_imdb_link           http://www.imdb.com/title/tt1859650/?ref_=fn_t...
num_user_for_reviews                                                  163.0
language                                                            English
country                                                                 USA
content_rating                                                            R
budget                                                           17000000.0
title_year                                                           2012.0
imdb_score                                                         6.300781
aspect_ratio                                                       1.849609
facebook_likes                                                       5162.0
Name: 2107, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                             William A. Fraker
num_critic_for_reviews                                                 25.0
duration                                                               98.0
actor_2_name                                             Richard Farnsworth
gross                                                             8000000.0
genres                                             Action|Adventure|Western
actor_1_name                                                  Jason Robards
movie_title                                   The Legend of the Lone Ranger
num_voted_users                                                        1400
actor_3_name                                                  Michael Horse
facenumber_in_poster                                                    0.0
plot_keywords                   ambush|hero|masked hero|outlaw|texas ranger
movie_imdb_link           http://www.imdb.com/title/tt0082648/?ref_=fn_t...
num_user_for_reviews                                                   41.0
language                                                            English
country                                                                 USA
content_rating                                                           PG
budget                                                           18000000.0
title_year                                                           1981.0
imdb_score                                                              5.0
aspect_ratio                                                       2.349609
facebook_likes                                                        339.5
Name: 2408, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                            Anthony Silverston
num_critic_for_reviews                                                 39.0
duration                                                               85.0
actor_2_name                                                  Steve Buscemi
gross                                                                   NaN
genres                                           Adventure|Animation|Family
actor_1_name                                                    Liam Neeson
movie_title                                                          Khumba
num_voted_users                                                        4006
actor_3_name                                                 Loretta Devine
facenumber_in_poster                                                    0.0
plot_keywords                       herd|ostrich|waterhole|wildebeest|zebra
movie_imdb_link           http://www.imdb.com/title/tt1487931/?ref_=fn_t...
num_user_for_reviews                                                   12.0
language                                                            English
country                                                        South Africa
content_rating                                                    Not Rated
budget                                                           20000000.0
title_year                                                           2013.0
imdb_score                                                         5.800781
aspect_ratio                                                            NaN
facebook_likes                                                       9400.0
Name: 2709, dtype: object

processed (301, 23) shape of df color                                                                 Color
director_name                                      Daisy von Scherler Mayer
num_critic_for_reviews                                                 70.0
duration                                                               94.0
actor_2_name                                                     Dash Mihok
gross                                                             3034181.0
genres                                                 Comedy|Music|Romance
actor_1_name                                                 Michael McKean
movie_title                                                        The Guru
num_voted_users                                                       13622
actor_3_name                                                    Jimi Mistry
facenumber_in_poster                                                    3.0
plot_keywords             bollywood|illegal immigrant|live television|re...
movie_imdb_link           http://www.imdb.com/title/tt0280720/?ref_=fn_t...
num_user_for_reviews                                                  128.0
language                                                            English
country                                                                  UK
content_rating                                                            R
budget                                                           11000000.0
title_year                                                           2002.0
imdb_score                                                         5.398438
aspect_ratio                                                       1.849609
facebook_likes                                                     571.8333
Name: 3010, dtype: object

processed (301, 23) shape of df color                                                                 Color

### <span style="color:blue">[과제2 코드 진행 설명]</span>

<span style="color:green">첫 dataset의 용량은 1.1MB</span>

<span style="color:green">숫자형 Datatype 정리하여 681.8KB</span>

<span style="color:green">object 형태에서 category로 변형시킬 수 있는 column만 변형하여 552.2KB</span>

facebook_like인 column이 많아서 평균값으로 하나의 column(facebook_likes)을 만들어 기존에 있던

facebook_like가 포함된 column은 제거해줬다.

<span style="color:green">그후 facebook_likes 열의 datatype를 float32로 변형하여 475.4KB.</span>

그래도 크다 생각되어, 위에 column 추가 및 제거로 인해 변형된 dataset를 따로 저장한 후,

<span style="color:green">다시 불러와 chunksize를 진행했다.</span>